
/* ----- PAGE TRANSITION ----- */
#page-transition-dynamic {
	width: 100vw;
	height: 100%;
	display: block;
	position: absolute;
	content: "";
	background-color: red;
	z-index: 1000;
	transform: translateX(100vw);
	animation: swipe-out 2s forwards;
}

@keyframes swipe-out {
	0% {
		background-color: red;
		transform: translateX(100vw);
	}
	25% {
		background-color: white;
		transform: translateX(0);
	}
	50% {
		background-color: white;
		transform: translateX(0);
	}
    75% {
		background-color: white;
		transform: translateX(0);
	}
	100% {
		background-color: red;
		transform: translateX(-100vw);
	}
}
/* ----- ----- ----- */
